<style>
  .container {
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  span {
    margin: 10px;
  }
</style>


<div class="container">
  <span>Oi, {{name}}</span>

  <br />

  <span>Você solicitou alteração de senha.</span>
  <span>Para realizar a troca, clique no link <a href="{{link}}">{{link}}</a></span>

  <span>Caso não tenha sido você que solicitou a alteração da senha, basta ignorar este e-mail</span>

  <strong>Obrigado!</strong>

  <h3>Equipe | <strong>TurnPro</strong></h3>
</div>